.home .lander {
  padding: 80px 0;
  text-align: center;
}

.home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.home .lander p {
  color: #999;
}

.home .posts h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home .posts p {
  color: #666;
}

.posts {
  max-width: 1440px;
}

.image-container {
  width: auto;
  /* height: calc(123px + 448 * ((100vw - 320px) / 1120)); */
  height: calc(183px + 676 * ((100vw - 320px) / 1120));
  max-height: 859px;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: contain;
}

.header {
  margin-top: calc(50px + 100 * ((100vw - 320px) / 1120));
}

.caption {
  margin-bottom: calc(50px + 100 * ((100vw - 320px) / 1120));
  border-bottom: 1px solid lightgray;
  font-size: calc(10px + 14 * ((100vw - 320px) / 1120));
}

.image img {
  border-radius: 50%;
}

.red {
  color: red;
}