input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview {
  position: relative;
  width: calc(100px + 250 * ((100vw - 320px) / 1120));
  height: calc(100px + 250 * ((100vw - 320px) / 1120));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #ff1493;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.preview--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}