@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('Billabong.woff') format('woff');
}

.cursor {
  cursor: pointer;
}

.btn {
  margin: 5%;
  width: calc(125px + 150 * ((100vw - 320px) / 1120));
  /* height: calc(25px + 50 * ((100vw - 320px) / 1120)); */
  font-size: calc(10px + 20 * ((100vw - 320px) / 1120));
  background: linear-gradient(-0.15turn, #1f87a6, #cbf8e1);
  border: none;
  color: white;
}

.app {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  padding-top: calc(100px + 100 * ((100vw - 320px) / 1120));
  font-size: calc(10px + 15 * ((100vw - 320px) / 1120));
  margin: 0 auto;
}

@media all and (min-width: 1440px) {
  .app {
    padding-left: 71.25px;
    padding-right: 71.25px;
  }
}

.fixed-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: white;
  padding: 3% 3% 0 3%;
  margin-bottom: 3%;
  backface-visibility: hidden;
}

@media all and (min-width: 1000px) {
  .fixed-header {
    padding: 1% 1% 0 1%;
    margin-bottom: 1%;
  }
}

.fixed-header a {
  font-family: 'Billabong';
}

a.app-title {
  font-family: 'Billabong';
  font-size: calc(40px + 45 * ((100vw - 320px) / 1120));
  color: #4a4a4a !important;
  padding: 20px;
  line-height: 1.7;
}

.navbar-toggle {
  margin: 5%;
  /* background: linear-gradient(-0.15turn, #1f87a6, #cbf8e1) !important; */
}

/* .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
} */

.navbar-default {
  background-color: rgb(234, 251, 255);
  border-color: #e7e7e7;
}

.navbar-collapse .collapse {
  background: none !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background: linear-gradient(-0.15turn, #1f87a6, #cbf8e1) !important;
  height: auto;
}

.navbar-nav {
  margin: 0;
}

.nav {
  background: none;
  height: auto;
}

.navbar {
  display: block !important;
  width: 100%;
  margin: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
  float: right;
}

@media all and (min-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.phone-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(234, 251, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 4;
}

.upload-cta {
  padding-left: 5%;
  padding-right: 5%;
}